{% extends './layouts/layout.njk' %}
{% from "./macros/applications-table.njk" import applicationsTable %}

{% block pageTitle %}
  AHWR Dashboard
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
        text: "Back",
        href: "/"
      }) }}
{% endblock %}

{% block content %}
    {% if model.error or error %}
      <div class="govuk-grid-row">
        <p class="govuk-error-message">{{model.error}}{{error}}</p>
      </div>
    {% else %}
      <div class="govuk-grid-row">
        <div class="moj-scrollable-pane">

            <div class="moj-scrollable-pane__wrapper">
              {{ govukTable({
                  attributes: {
                    'data-module': 'moj-sortable-table'
                  },
                  firstCellIsHeader: false,
                  head: model.header,
                  rows: model.applications
                })
              }}
            </div>
        </div>
      </div>
    {% endif %}
  </form>
{% endblock %}