{% extends './layouts/layout.njk' %}
{% from "./macros/applications-table.njk" import applicationsTable %}

{% block pageTitle %}
  AHWR Dashboard
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
        text: "Back",
        href: "/"
      }) }}
{% endblock %}

{% block content %}
    {% if model.error or error %}
      <div class="govuk-grid-row">
        <p class="govuk-error-message">{{model.error}}{{error}}</p>
      </div>
    {% else %}
      <div class="govuk-grid-row govuk-!-margin-bottom-5">
        <h2 class="govuk-heading-m">Useful information</h2>
          <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item">
              <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#information">Information ...</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item">
              <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#information">Information ...</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item">
              <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#information">Information ...</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item">
              <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#information">Information ...</a>
            </li>
          </ol>
      </div>
      <div class="govuk-grid-row govuk-!-margin-bottom-5">
        <h2 class="govuk-heading-m">Terms and conditions</h2>
          <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item">
              <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#terms-and-conditions">Terms and conditions ...</a>
            </li>
          </ol>
      </div>
      <div class="govuk-grid-row govuk-!-margin-bottom-5">
        <h2 class="govuk-heading-m">Applications</h2>
        <a  href="/view-all">View All</a>
          {{ govukTable({
              attributes: {
                'data-module': 'moj-sortable-table'
              },
              firstCellIsHeader: false,
              head: model.header,
              rows: model.applications
            })
          }}
      </div>
      <div class="govuk-grid-row govuk-!-margin-bottom-5">
        <h2 class="govuk-heading-m">Claims</h2>
        <a  href="/view-all">View All</a>
          {{ govukTable({
              attributes: {
                'data-module': 'moj-sortable-table'
              },
              firstCellIsHeader: false,
              head: model.claimHeader,
              rows: model.claims
            })
          }}
      </div>
    {% endif %}
  </form>
{% endblock %}