{% extends './layouts/layout.njk' %}
{% block pageTitle %}Manage your claims - {{ serviceName }} - GOV.UK{% endblock %}

{% block content %}
  <div class="govuk-grid-row govuk-width-container">
    <div class="govuk-grid-column-two-thirds govuk-!-static-padding-0">
      <p class="bold-paragraph govuk-!-static-margin-bottom-1">{{ name }}</p>
      <p class="govuk-body" id="SBI">Single Business Identifier (SBI): {{ sbi }}</p>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-static-padding-0">
      <p class="bold-paragraph govuk-!-static-margin-bottom-1 govuk-!-text-align-right">{{ farmerName }}</p>
      {% if attachedToMultipleBusinesses %}
        <p class="govuk-!-text-align-right">
          <a id="MBILink" href={{ hostname }}>Claim for a different business</a>
        </p>
      {% endif %}
    </div>
  </div>
  <hr/>
  <div class="govuk-grid-row govuk-width-container govuk-!-static-margin-top-6">
    {% if showNotificationBanner %}
      {% set html %}
        <p class="govuk-notification-banner__heading">
          You can now claim for more than one species.
        </p>
      {% endset %}

      {{ govukNotificationBanner({
        html: html
      }) }}
    {% endif %}

    <h1 class="govuk-heading-xl">Manage your claims</h1>
    <p>
      Start a new claim or view and manage your current claims.
      We recommend you claim in order of the visits. Download your
      <a class="govuk-link" rel="external" target=”_blank”  href={{ downloadedDocument }}>
        agreement summary
      </a>.
    <p>
    <p class="govuk-caption-l govuk-!-static-margin-bottom-4">
      Agreement number: <span class="govuk-!-font-weight-bold">{{ reference }}</span>
    </p>

    {{ govukButton({
      text: 'Start a new claim',
      href: claimServiceRedirectUri,
      preventDoubleClick: true
    }) }}

    <hr class="govuk-section-break govuk-section-break--m">
    <h2 class="govuk-heading-m govuk-!-static-margin-top-2">View your claims</h2>

    {% if claimsRows | length %}
    <div class="scroll-horizontally govuk-!-margin-bottom-7 govuk-!-padding-bottom-2" style="display:block;">
      {{ govukTable({
        attributes: {
          'data-module': 'moj-sortable-table'
        },
        firstCellIsHeader: false,
        head: [
          {
            text: 'Visit date',
            attributes: {
              'aria-sort': 'descending'
            }
          },
          {
            text: 'Species',
            attributes: {
              'aria-sort': 'none'
            }
          },
          {
            text: 'Type',
            attributes: {
              'aria-sort': 'none'
            }
          },
          {
            text: 'Claim number',
            attributes: {
              'aria-sort': 'none'
            }
          },
          {
            text: 'Status',
            attributes: {
              'aria-sort': 'none'
            }
          }
        ],
        rows: claimsRows,
        classes: 'govuk-!-margin-bottom-0 govuk-!-padding-bottom-0'
      }) }}
    </div>
    {% else %}
      <p class="govuk-caption-m">Once you have submitted a claim, it will appear here.</p>
    {% endif %}
    <hr class="govuk-section-break govuk-section-break--m">
    <h2 class="govuk-heading-m govuk-!-static-margin-top-4">More information</h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" rel="external" href="https://www.gov.uk/government/collections/funding-to-improve-animal-health-and-welfare-guidance-for-farmers-and-vets">Guidance for funding to improve animal health and welfare</a>
      </li>
      <li>
        <a class="govuk-link" rel="external" href={{ latestTermsAndConditionsUri }}>Terms and conditions</a>
      </li>
    </ul>
  </div>
{% endblock %}
