{% extends './layouts/layout.njk' %}

{% block pageTitle %}Manage your claims - {{ serviceName }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row govuk-width-container">
    <div class="govuk-grid-column-two-thirds govuk-!-static-padding-0">
      <p class="bold-paragraph govuk-!-static-margin-bottom-1">{{name}}</p>
      <p class="govuk-body" id="SBI">Single Business Identifier (SBI): {{sbi}}</p>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-static-padding-0">
      <p class="bold-paragraph govuk-!-static-margin-bottom-1 govuk-!-text-align-right">{{farmerName}}</p>
      {% if hasMultipleBusinesses %}
        <p class="govuk-!-text-align-right">
          <a id="MBILink" href={{hostname}}>Claim for a different business</a>
        </p>
      {% endif %}
    </div>
  </div>
  <hr/>
  <div class="govuk-grid-row govuk-width-container govuk-!-static-margin-top-6">
    <div class="govuk-grid-column-two-thirds govuk-!-static-padding-0">
      <h1 class="govuk-heading-xl">Manage your claims</h1>
      <p class="govuk-caption-l govuk-!-static-margin-bottom-4">Agreement number: {{reference}}</p>
      {% if checkReviewIsPaidOrReadyToPayAndWithinLastTenMonths %}
        <p class="govuk-body-m">Your review has been approved. You can now claim for a follow-up.</p>

        {{ govukButton({
          text: "Claim for endemics follow-up",
          href: claimServiceRedirectUri,
          preventDoubleClick: true
        }) }}

      {% else %}
        {{ govukButton({
          text: "Start a new claim",
          href: claimServiceRedirectUri,
          preventDoubleClick: true
        }) }}
      {% endif %}
      <h2 class="govuk-heading-m govuk-!-static-margin-top-2">Your previous claims</h2>
      <hr/>
      {% if claims | length %}
        {{ govukTable({
          firstCellIsHeader: false,
          rows: claims
        }) }}
      {% else %}
        <p class="govuk-caption-m">Your claims will appear here when you have made them</p>
        <hr/>
      {% endif %}
      <h2 class="govuk-heading-m govuk-!-static-margin-top-4">More information</h2>
      <p class="govuk-body">
        <a class="govuk-link" rel="external" href={{ latestTermsAndConditionsUri }}>Terms and conditions</a>
      </p>
      <p class="govuk-body">
        <a  class="govuk-link" rel="external" href="https://www.gov.uk/government/collections/funding-to-improve-animal-health-and-welfare-guidance-for-farmers-and-vets">Guidance for funding to improve animal health and welfare</a>
      </p>
    </div>
  </div>
{% endblock %}