{% extends './layouts/layout.njk' %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  {{ siteTitle }}: User Application
{% endblock %}
{% set backLink %}
 /
{% endset -%}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors.length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <h1 class="govuk-caption-l govuk-!-margin-bottom-3">Agreement number: {{ applicationId }}</h1>

      <h2 class="govuk-fieldset__legend--m">{{ organisationName }}
        <span class="govuk-tag {{ statusClass }}">{{ status }}</span></h2>
      {{ govukSummaryList({
        rows: model.listData.rows
      }) }}
      <h2 class="govuk-fieldset__legend--m">Application</h2>
      {{ govukTable(model.applicationData) }}

      <h2 class="govuk-fieldset__legend--m">Claim</h2>
      {{ govukTable(model.claimData) }}
    </div>
  </div>
{% endblock %}